<!DOCTYPE html>
<html>

<head>
    <title>Rate Flags</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Rate your familiarity with these flags</h1>

        <div id="questions">
            <div class="question" data-question="1">➔ Please select the flag you are familiar with</div>
            <div class="question" data-question="2">Please select the flag you have seen but are not sure of the nation they are associated with</div>
            <div class="question" data-question="3">Please select the flags you are unfamiliar with</div>
        </div>

        <form action="/submit_ratings" method="post" id="flagsForm">
            <div class="flags-wrapper">
                {% for flag in flags %}
                <div class="flag-item">
                    <img src="{{ flag.image }}" alt="{{ flag.name }}" class="flag-image">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" name="rating_{{ flag.id }}" value="{{ flag.id }}" class="flag-checkbox">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="errorMessage" style="color: red; display: none;">All flags should belong to one of the familiarity categories. Please select "Refresh" and review your ratings.</div>
            <div id="buttonsContainer">
                <button type="button" id="confirmButton">Confirm</button>
                <button type="button" onclick="prepareAndSubmitForm()" style="display: none;" id="submitButton">Submit Ratings</button>
                <button type="button" id="backButton">Refresh</button>
            </div>
            
        </form>
        
    </div>

    <script>
        let currentQuestion = 1;
        const errorMessage = document.getElementById('errorMessage');
        const confirmButton = document.getElementById('confirmButton');
        const submitButton = document.getElementById('submitButton');
        const backButton = document.getElementById('backButton');
        const selectedFlags = { 1: [], 2: [], 3: [] };

        document.querySelector('.question[data-question="1"]').classList.add('active');
        
        window.addEventListener('scroll', function() {
            var header = document.getElementById('questions'); // Replace with your header ID
            var headerPosition = header.offsetTop; // Get the position of the header
            
            if (window.pageYOffset > headerPosition) {
                header.classList.add('fixed-header');
            } else {
                header.classList.remove('fixed-header');
            }
        });

        backButton.addEventListener('click', function() {
        window.location.reload();
        });

        let categorizedFlagsCount = 0;
        confirmButton.addEventListener('click', function() {
            const checkboxes = document.querySelectorAll('.flag-checkbox:checked');
            let anyFlagSelected = false;

            checkboxes.forEach(checkbox => {
                selectedFlags[currentQuestion].push(checkbox.value);
                checkbox.disabled = true; 
                anyFlagSelected = true; 
                categorizedFlagsCount = document.querySelectorAll('.flag-checkbox:checked').length;
            });

            if (currentQuestion < 3) {

                // Transition to the next question
                document.querySelector('.question[data-question="' + currentQuestion + '"]').textContent = document.querySelector('.question[data-question="' + currentQuestion + '"]').textContent.replace('➔', '');
                currentQuestion++;
                updateQuestionStyles();
                document.querySelector('.question[data-question="' + currentQuestion + '"]').textContent = '➔ ' + document.querySelector('.question[data-question="' + currentQuestion + '"]').textContent;
                
                if (currentQuestion > 1) {
                    
                    backButton.style.display = 'block';
                }

            } else {
                // Check if all flags have been categorized

                const totalFlags = document.querySelectorAll('.flag-checkbox').length;
                if (categorizedFlagsCount === totalFlags) {
                    // Ready for submission
                    submitButton.style.display = 'block';
                    confirmButton.style.display = 'none';
                    errorMessage.style.display = 'none';
                } else {
                    errorMessage.textContent = categorizedFlagsCount+'All flags should belong to one of the familiarity categories. Please select "Refresh" and review your ratings.';
                    errorMessage.style.display = 'block';
                }
            }

        });

        function updateQuestionStyles() {
            document.querySelectorAll('.question').forEach(question => {
                question.classList.remove('active');
            });
            document.querySelector('.question[data-question="' + currentQuestion + '"]').classList.add('active');
        }

        function prepareAndSubmitForm() {
            // Convert the selected flags into the desired dictionary format
            const outputData = {

                'unfamiliar': selectedFlags[3],
                'not_sure': selectedFlags[2],
                'familiar': selectedFlags[1]

            };

            // Create hidden inputs for each flag based on its category
            for (const [category, flags] of Object.entries(outputData)) {
                flags.forEach(flagId => {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = category;
                    input.value = flagId;
                    document.getElementById('flagsForm').appendChild(input);
                });
            }

            // Submit the form
            document.getElementById('flagsForm').submit();
        }


    </script>
</body>
</html>

