<!DOCTYPE html>
<html>
<head>
    <title>Rate Flags</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rate your familiarity with these flags</h1>

        <div id="questions">
            <div class="question" data-question="1">➔ Please click the ones you are familiar with, and the ones not selected will be considered automatically as unfamiliar</div>
        </div>

        <form action="/submit_ratings" method="post" id="flagsForm">
            <input type="hidden" name="selected_group" value="{{ group }}">
            <div class="flags-wrapper">
                {% for flag in flags %}
                <div class="flag-item">
                    <img src="{{ flag.image }}" alt="{{ flag.name }}" class="flag-image">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" name="familiar" value="{{ flag.id }}" class="flag-checkbox">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="errorMessage" style="color: red; display: none;"></div>
            <div id="buttonsContainer">
                <button type="submit" id="submitButton">Submit Ratings</button>
            </div>
        </form>
    </div>

    <script>
        const backButton = document.getElementById('backButton');
        backButton.addEventListener('click', function() {
            window.location.reload();
        });
    </script>
</body>
</html>
